
/*setting border-box and basic reset*/
* {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */;
}
html {
	margin: 0;
	padding: 0;
}

/*basic styling*/
.userInfo, 
input {
	padding: 1em;
	width: 100px;
}

.userInfo {
	background-color: rgba(100,100,100,.7); }

.userInfo:hover {
	background-color:  rgba(100,100,100,.3);
	cursor: pointer;
}

.userInput {

}

li {
	list-style-type: none;
}